@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


:root {
    --main: #33627C;
    --text: #525252;
}


header {
    background: var(--main);
    box-shadow: 8px 8px 15px 8px rgba(119, 119, 119, 0.25);
    height: 130px;
    width: 100%;
    color: #fff;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;

}

.burger-menu {
    filter: brightness(0) invert(1);
    width: 35px;
    height: 35px;
    display: none;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 90px;
    list-style-type: none;
    flex-wrap: wrap;

}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h1 a:hover{
    text-decoration: none;
}

.container {
    height: 90%;
    display: flex;
    margin: 3.8rem auto;
    gap: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

img {
    width: 640px;
    height: auto;
}

.main-text,
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    color: var(--main);
    font-size: 32px;

}

.title-decoration {
    width: 70px;
    height: 6px;
    background-color: var(--text);
    margin: 15px 0 1em 0;
}

.intro-texto {
    color: var(--text);
    font-size: 20px;
    font-weight: 400;
}

.formulario h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: var(--main);
}

form {
    margin: 4rem auto;
    font-size: 18px;
    color: #171717;
    width: 65%;
}

input,
select,
textarea,
option {
    padding: 5px;
    border: none;
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: 400;
}


.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 20px 0;
    
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    flex-wrap: wrap;

}

.cep input {
    width: 220px;
    ;
}

.estado,
.numero input {
    width: 150px;
}

.rua input {
    width: 500px;
}

form h2 {
    color: var(--main);
    font-weight: 500;
    margin: 20px;
}

.carro {
    flex-direction: row;
    width: 200px;
    
}

.carro label,
.habilitacao label {
    font-weight: 400;
    padding-right: 20px;
}

.habilitacao {
    height: 80px;
    margin-right: 40px
}

.habilitacao input {
    margin-bottom: 10px;
}

button {
    background-color: var(--main);
    border: none;
    width: 400px;
    height: 50px;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    font-size: 18px;
    margin: 1.5rem auto;
    cursor: pointer;
}
span {
    font-size: 14px;
    color: red;
    display: inline-block;
    font-weight: 400;
}

.check {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

span.material-icons {
    color: var(--main);
    font-size: 150px;
}

.check h4{
    margin-top: 15px;
    font-weight: 500;
    font-size: 32px;
    color: #171717;
}

.check p {
    font-weight: 300;
    font-size: 22px;
    color: #171717;
    margin-bottom: 5px;
}

.check button {
    width: 200px;
    margin-bottom: 10px;
}

.check a {
    text-decoration: none;
    color: #171717;
    margin-top: 0;
}

a:hover {
    text-decoration: underline;
}

main.sobre {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 3.5rem auto;
}


.ilustra-img{
    width:550px;
    height:auto;
}

.texto-sobre{
    margin: 0 60px;
    text-align: center;
    font-size: 18px;

}

.texto-sobre a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

.p2{
    font-weight: 400;
    margin-top: 20px;
    font-size: 18px;
}


.icons {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    width:60px;
}

@media (max-width: 768px){
    header {
        justify-content: center;
        margin-bottom:40px;
    }

    .logo {
        margin-right: 4em;
    }
    
    ul {
        display: none;
    }

    .burger-menu {
        display: block;
        margin-left: 4em;
    }

    img {
        display: none;
    }

    .title {
        font-size: 26px;
    }

    .container {
        height: 100%;
        margin: 0 20px;
        gap: 4em;
    }

    .title-decoration {
        width: 50px;
    }

    .intro-texto {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .formulario h3 {
        margin: 0 15px;
    }
    
    form {
        width: 85%;
        margin-top: 25px;
    }

        input,
    select,
    textarea,
    option {
        margin-bottom: 30px;
    }

    .form-row{
        flex-wrap: wrap;
        margin: 0;
    }

    fieldset, form h2, .habilitacao {
        margin: 0;
    }

    .cep input, .rua input, .carro, .estado,
    .numero input  {
        width: 100%;
    }

    form h2, .habilitacao  {
        margin-bottom: 25px;
    }

    button {
        width: 100%;
    }

}

